# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
myenv/
.env

# Django
db.sqlite3
*.pot
*.pyc

# VS Code
.vscode/

# Static files
staticfiles/
static/

# Media
media/

# OS files
.DS_Store
Thumbs.db
